@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
}

text {
    pointer-events: none;
}

rect {
    cursor: pointer;
}

.react-tweet-theme > article > div[class^="_root_"],
.react-tweet-theme > article > div[class^="_replies_"],
.react-tweet-theme > article > div > div > div > div {
    display: none;
}
